<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fateofcard">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name = "android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fateofcard_icon_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fateofcard_icon_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FateOfCard">
        <activity android:name=".ItemActivity"></activity>
        <activity android:name=".ChooseActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayActivity" />
        <activity android:name=".BlueActivity" />
    </application>

</manifest>